{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "return", "if", "else", "each", "include", "mixin", "for", "content"]
    }]
  }
}
