@import '../../shared.scss';

.header {
  background-color: $white;

  &--fixed {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1080;
  }

  &__inner {
    height: $header-height;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: $dark;
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
  }

  &__toggle {
    padding: 0;
    // width: 24px;
    height: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    outline: 0;
    color: $dark;
    cursor: pointer;

    @include media(map-get($grid-breakpoints, md)) {
      display: none;
      visibility: hidden;
    }
  }

  &__links {
    display: none;
    visibility: hidden;

    @include media(map-get($grid-breakpoints, md)) {
      display: flex;
      height: 100%;
      visibility: visible;
    }
  }

  &__link-item {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    color: $dark;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link-item--active {
    font-weight: bold;
  }
}
