@import '../../shared.scss';

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.75);
  z-index: 1070;

  &--light {
    background-color: rgba($white, 0.75);
  }
}

.Overlay--fade-enter {
  opacity: 0;
}

.Overlay--fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.Overlay--fade-exit {
  opacity: 0;
  transition: opacity 0.3s ease;
}
