@import '../../../shared.scss';

.Container,
.Container__fluid {
  padding: 0 $grid-gutters / 2;
  margin: 0 auto;
  width: 100%;
}

@each $breakpoint, $val in $grid-breakpoints {
  .Container {
    @if $val > 0 {
      @include media($val) {
        @each $container-breakpoint, $width in $container-max-widths {
          @if $container-breakpoint == $breakpoint {
            max-width: $width;
          }
        }
      }
    }
  }
}
