@import '../../../shared.scss';

.Container,
.Container__fluid {
  padding: 0 $grid-gutters / 2;
  margin: 0 auto;
  width: 100%;
}

@function returnwidth($width) {
  @return if($width > 0, $width, 100%);
}

// Nested loop:
// Lopping through grid breakpoints
//   looping through container max-widths
//      if the prefixes match, adding a max-width
@each $bp, $val in $grid-breakpoints {
  .Container {
    @include media($val) {
      @each $c-breakpoint, $width in $container-max-widths {
        @if $c-breakpoint == $bp {
          max-width: returnwidth($width);
        }
      }
    }
  }
}
