@import './shared.scss';

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $dark;
  background-color: $white;
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $primary;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.wrapper {
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - #{$header-height});
  height: 100%;
  background-color: $grey;
}

.lock-scroll {
  overflow: hidden;
}

::selection {
  background-color: $primary;
  color: $white;
}
