$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$primary: #5757ff;
$secondary: #ff61ab;
$success: #46cf7b;
$error: #ff5572;
$disabled: #dddde6;
$white: #fff;
$grey: #f7f8f9;
$grey-background: #f3f3f9;
$grey-border: #e7e7f0;
$grey-text: #bbbccd;
$dark: #2a2a30;

$color-map: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  error: $error,
  dark: $dark,
);

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Container max widths
$container-max-widths: (
  xs: 0,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
);

$grid-gutters: 2rem;
$grid-columns: 12;

$header-height: 3.75rem;
$side-menu-width: 256px;

@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin clearfix {
  &::after,
  &::before {
    content: '';
    display: table;
    clear: both;
  }
}
