@import '../../../shared.scss';

.Col {
  flex: 1 0 0;
  max-width: 100%;
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin make-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

// style-lint-disable at-rule-empty-line-before
@each $breakpoint, $value in $grid-breakpoints {
  $prefix: $breakpoint;

  // generate column & column offset classes
  @for $i from 1 through $grid-columns {
    @include media($value) {
      .Col-#{$prefix}-#{$i} {
        @include make-col($i, $grid-columns);
      }

      .Col-#{$prefix}-offset-#{$i - 1} {
        @include make-offset($i - 1, $grid-columns);
      }
    }
  }

  // generate order classes
  @for $j from 0 through $grid-columns {
    @include media($value) {
      .Col-#{$prefix}-order-#{$j} {
        order: $j;
      }
    }
  }

  // generate hidden classes
  @include media-max(map-get-next($breakpoint)) {
    .Col-hidden-#{$prefix} {
      @include hidden;
    }
  }
}
