@import '../../../shared.scss';

.col {
  flex: 1 0 0;
  max-width: 100%;
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

// TODO: Add offsets + order classes
@each $breakpoint, $value in $grid-breakpoints {
  $prefix: $breakpoint;

  @if $value > 0 {
    @for $i from 1 through $grid-columns {
      @include media($value) {
        .col-#{$prefix}-#{$i} {
          @include make-col($i, $grid-columns);
        }
      }
    }
  }

  @else {
    @for $i from 1 through $grid-columns {
      .col-#{$prefix}-#{$i} {
        @include make-col($i, $grid-columns);
      }
    }
  }
}
